body {
    background-color: #FFE6F7;
}

#xavier:hover {
    opacity: 0.2;
}

hr {
    background-color: #FFE6F7; /* unnecessary? */
    border-color: #FFABE1;
    border-style: dotted none none; /* dotted on top, none of right or left, none on bottom */
    border-width: 10px;
    width: 7%;
}

h1 {
    color: #C689C6;
}

h3 {
    color: #C689C6;
}

.circular {
    border-radius: 100%;
}
